* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black solid;
}

#list-search_div {
  display: flex;
  justify-content: center;
}

#button_div {
  display: flex;
  justify-content: center;
}

#output-div {
  display: flex;
  flex-direction: column;
}
*p {
  color: red;
}
.weather-output {
  font-size: 20px;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  vertical-align: top;
}

.image-div {
  text-align: center;
}

#country-list {
  gap: 7px;
  margin: 10px 7px;
}
#search-bar {
  margin: 10px 7px;
  border: 2px black solid !important;
  border-radius: 5px;
}
::placeholder /*keep directly above top three class*/ {
  color: blue;
}
.top-three {
  color: blue;
  font-size: 14px;
  font-weight: bolder;
}
#search-button {
  margin: 20px 0px 20px;
  padding: 20px;
  border-radius: 30px;
  width: 200px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: green;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: center;
}
#list-search_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.left-header-div {
  flex: 30.3%;
  min-width: 200px;
  /*border: green solid 1px;*/
}
.select-div {
  /*border: red solid 1px;*/
  justify-content: flex-start;
}

#left-header-text {
  justify-content: center;
  margin: 10px 7px;
  padding: 3px;
  font-size: 16px;
  display: flex;
  text-align: center;
}

.mid-header-div {
  flex: 30.3%;
}
.right-header-div {
  flex: 30.3%;
  min-width: 200px;
  justify-content: center;
}

#country-list {
  text-align: center;
  color: blue;
  border-radius: 5px;
}
#search-bar {
  text-align: center;
}

.left-mid-div {
  display: flex;
}

@media (max-width: 800px) {
  #list-search_div {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .left-mid-div {
    flex-direction: column;
  }
  #left-header-text {
    margin-bottom: 3px;
  }
  #country-list {
    margin-top: 2px;
  }
  .left-mid-div {
    border: 2px solid black !important;
    border-radius: 5px !important;
  }
}

@media (max-width: 850px) {
  .right-header-div {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 100vw) {
  #the-gif {
    max-width: 80vw;
    max-height: 40vh;
  }
}

* {
  border: none;
}

/*
.left-header-text {
  margin-bottom: 3px;
}
#country-list {
  margin-top: 2px;
}*/
