* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black solid;
}

.header {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  margin: 20px auto;
  /*    text-align: center;*/
}

.output {
  font-size: 20px;
  height: 100px;
  width: 150px;
  border: red solid 1px;
}

.weather-output {
  font-size: 20px;
  height: 100px;
  width: 150px;
  border: blue solid 1px;
}

.buttons {
  color: blue;
  width: 400px;
  margin: 0px 10px;
}

.image-div {
  display: flex;
}
