* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px black solid;
}
/*
.container {
  margin: 0 auto;
  width: 300px;
}
*/
/*
#output-div {
  margin: 0 auto;
  padding: center;
}
*/

/*
#search-button {
  color: blue;
}

/************/

/*.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/************************************************/

#list-search_div {
  display: flex;
  justify-content: center;
  /*margin: auto;*/
  /*background-color: blue;*/
}

#drop-list {
  display: flex;
  text-align: center;
}

#button_div {
  display: flex;
  justify-content: center;
}

#output-div {
  display: flex;
  flex-direction: column;
}
.weather-output {
  font-size: 20px;
  height: 100px;
  width: 150px;
  /*border: blue solid 1px;*/
  margin: 0 auto; /*centres all boxes*/
  text-align: center; /*centers text horizontally*/
  align-items: center;
  justify-content: center;
}

.image-div {
  /*display: flex;*/

  height: 300px;
  width: 300px;
}

#the-gif {
  /*max-width: 300px;*/

  justify-content: right;
  text-align: right;
}
